.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../../assets/img/446984.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar-nav {
  --bs-nav-link-hover-color: #080808;
}

.morebtn:hover {
  color: white;
}

.row {
}

